.nav__container {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}
.nav__container--element {
  margin: 1rem;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 2rem auto 0;
}

td,
th {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
